/* Add screen styles below */
main{
    margin: 0 auto
}
body{
    background-color: #fff;
    font-family: Helvenica, sans-serif, Times, serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
}
.details { 
    display:flex;
    gap: 20px;
    border-radius: 20px;
}
.details section {
   flex-grow: 1; 
   flex-basis: 0;
   background: #cccc;
   padding: 20px;
}

img {
    width:100%;
}
h2{
    margin: 0 0 10px 0;
}
p{
    margin: 0;
    line-height: 1.4em;
}