/* Add screen styles below */
body{
    background-color: darksalmon;
    font-family: Helvenica, sans-serif, Times, serif;
    border-top: 15px solid#424242:
    margin 0;
    a.active {
    font-weight: bold;
    }
main{
    margin: 1500, 1500;
    width:80%;
}
img {
    width:100;
}
}