/* Add screen styles below */
main{
    margin: 10000, 10000;
    width:80%;
} 
body{
    background-color: darksalmon;
    font-family: Helvenica, sans-serif, Times, serif;
    border-top: 15px solid#424242;
    margin: 0, auto;

img {
    width:100;
}
}